---
layout: default
---
{%- include masthead.html
    title="Protect Your Hardware"
    emphasize="from Unseen Threats"
    subtitle="Stop intrusions and malicious uses of your hardware before they happen"
    button_url="/contact"
    button_text="Contact us"
    button_url_alt="/services"
    button_text_alt="Learn More"
    image="/assets/img/usec-hero-image.jpeg"
    image_alt="Hardware Security Illustration"
-%}


<div class="home">
  
  <!-- Additional Information Section -->
  <section class="more-info">
    <div class="col-section">
      {%- include col_section_left_text.html
          image_path="/assets/img/usec-tpm_sniffing.jpeg"
          image_alt="uSec - TPM Sniffing"
          title="The Need for Securing Hardware Devices"
          description="In today's interconnected tech ecosystems, securing hardware is essential to protect sensitive data and maintain system integrity."
          cta_url="/services"
          cta_text="Learn More"
      -%}
    </div>
    <div class="col-section">
      {%- include col_section_right_text.html
          image_path="/assets/img/usec-microscope_zoom.jpeg"
          image_alt="uSec - Microscope Zoom"
          title="More Than Standard Security Assessments"
          description="Modern ecosystems require comprehensive hardware security analyses that reflect actual threats and attack vectors."
          cta_url="/services"
          cta_text="Learn More"
      -%}
    </div>
    <div class="col-section">
      {%- include col_section_left_text.html
          image_path="/assets/img/usec-jade_sca.jpeg"
          image_alt="uSec - Jade SCA"
          title="Comprehensive Hardware Security Services"
          description="uSec provides comprehensive hardware security services, including side-channel and fault analysis, to ensure devices are secure against modern threats."
          cta_url="/contact"
          cta_text="Contact Us"
      -%}
    </div>
  </section>
  
  <!-- Call-to-Action Section -->
  <section class="call-to-action">
    {%- include cta.html
        title="Talk to an Expert"
        description="We are ready to help you secure your hardware and protect your future."
        button_url="/contact"
        button_text="Contact Us"
    -%}
  </section>
</div>



